{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 120,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "importOrder": [
    "^@angular/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@gersomsim/tailkit",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": false,
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false,
        "useTabs": true
      }
    },
    {
      "files": "*.json",
      "options": {
        "useTabs": true,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.md",
      "options": {
        "useTabs": false,
        "tabWidth": 2,
        "proseWrap": "always"
      }
    }
  ]
}
